<div class="order-container">

  <h2>ORDER DETAILS</h2>

  <div class="order-info">
    <p>First Name: <%= @pizza.first_name() %> </p>
    <p>Last Name: <%= @pizza.last_name() %> </p>
    <p>Topping: <%= @pizza.topping() %> </p>
    <p>Quanity: <%= @pizza.quantity() %> </p>
  </div>

  <div class="options">  
    <form action="/pizzas/<%=@pizza.id%>/delete" method="POST">
      <input type="submit" value="Delete Order"/>
    </form>

    <form action="/pizzas/<%=@pizza.id%>/edit" method="GET">
      <input type="submit" value="Edit Order"/>
    </form>
  </div>
</div>
